.slider {
  background: linear-gradient(to right, #F7F5EF 35%, #FDFDFB 1%, #FDFDFB 64%);
  padding: 52px 0;

  .slider__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    grid-gap: 64px;
    .slider__img {
      display: flex;
      flex-direction: column;
      align-items: start;
      grid-gap: 20px;
      margin-left: 77px;
      img{
       max-width: 100%;
      }
      .slider__toggle{
        display: flex;
        align-items: center;
        grid-gap: 20px;
        margin-left: 378px;
        span{
          font-family: 'Prata',serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: rgba(27, 26, 23, 0.82);
        }
        img{
          width: 5px;
          height: 10px;
        }
      }

    }
    .slider__info{
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 88px;
      margin-left: 69px;
      p{
        margin-top: 38px;
        width: 375px;
      }
      button{
        margin-top: 45px;
        background-color: #D4B098;
      }
    }
  }

}


@media (max-width:640px) {
  .slider{
    .slider__content {
      .slider__img {
        margin-left:0;
        .slider__toggle{
          margin-left: 278px;
        }
      }
    }
  }
}