
.content{
  margin: 0 auto;
  max-width: 1166px;
}
.btn{
  color: #FFFFFF;
  margin-left: 65px;
  padding: 26px 38px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  align-self: start;
  margin-top: 64px;

}